

    <% obj.each do |discussion| %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well well-lg">
            <div class="discussion-title">
              <%= link_to discussion.title, discussion_path(discussion) %>
            </div>
            <div class="discussion-body">
                <%= truncate(discussion.question, length: 100) %>
            </div>
            <% if logged_in? && (current_user == discussion.user || current_user.admin?) %>
              <div class="discussion-actions">
                <%= link_to "Edit this topic", edit_discussion_path(discussion), class: "btn btn-xs btn-success", id: "butt" %>
                <%= link_to "Delete this topic", discussion_path(discussion), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger", id: "butt" %>
              </div>
            <% end %>

            <%= discussion.user.username %>
          </div>
        </div>
      </div>
    <% end %>
