<h2 align="center"> Title: <%= @discussion.title %></h2>
<div align="center">
  <ul class="listing">
    <li>Created by:</li>
    <div class="row">
      <li><%= link_to gravatar_for(@discussion.user), user_path(@discussion.user)%></li>
      <li class="discussion-title">
        <%= link_to @discussion.user.username, user_path(@discussion.user) %>
      </li>
    </div>
  </div>
</ul>
  <h4 class="center"><strong>Question:</strong></h4>
    <hr>
    <%= simple_format(@discussion.question) %>
    <% if @discussion.categories.any? %>
      <p>Categories: <%= render @discussion.categories %></p>
    <% end %>
    <% if logged_in? && (current_user == @discussion.user || current_user.admin?) %>
      <div class="discussion-actions">
        <%= link_to "Edit this topic", edit_discussion_path(@discussion), class: "btn btn-xs btn-success", id: "butt" %>
        <%= link_to "Delete this topic", discussion_path(@discussion), method: :delete,
                  data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger", id: "butt" %>
      </div>
    <% end %>
</div>
