<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @recipe.errors.any? %>
        <div class="panel panel-danger col-md-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@recipe.errors.count, "error") %>
              prohibited this recipe from being saved:
            </h2>

            <div class="panel-body">
              <ul>
                <% @recipe.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :Name %>
        </div>
        <div class="col-md-11">
          <%= f.text_field :title, class: 'form-control', placeholder: "Name of recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :instructions %>
        </div>
        <div class="col-md-11">
          <%= f.text_area :article, rows: 10, class: 'form-control', placeholder: 'Instructions for this recipe' %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :ingredients %>
        </div>
        <div class="col-md-11">
          <%= f.text_area :ingredients, rows: 10, class: 'form-control', placeholder: 'Ingredients in this recipe' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
          <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
